.listNav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 50px auto;
}

@media screen and (max-width: 510px) {
  .listNav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
