.allPicture {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.gallery {
  max-width: 960px;
  margin: auto;
}

@media screen and (max-width: 950px) {
  .allPicture {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 750px) {
  .allPicture {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 510px) {
  .allPicture {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 410px) {
  .allPicture {
    grid-template-columns: 1fr;
  }
}
